.landing-banner {
  margin-top: 10px;

  .alt-meaning {
    visibility: hidden;
  }
}

.card-img-top-square {
  object-fit: cover;
  width: 100%;
}

section {
  margin-bottom: 1rem;
}

.landing-banner-real {
  .alt-meaning {
    visibility: visible;
    color: red;
  }
}
