<h1 i18n="@@HelloUsername">Hello, {{username}}!</h1>
<hr class="my-4">
<div class="row">
    <div class="col-md-8">
        <p i18n="@@WeSendEmailsToYourAddress">You told us to send spam to <a href="mailto:{{mail}}">{{mail}}</a> <small class="text-muted">&mdash; Just kidding, we only send messages of utmost importance (no fwds from grandma, promise.)</small>
        </p>
        <div class="btn-group" role="group" i18-aria-label="@@Actions" aria-label="Actions">
            <button type="button" class="btn btn-secondary" i18n="@@EditPassword" (click)="changePassword()">Change your password</button>
            <button type="button" class="btn btn-secondary" i18n="@@EditEmail" (click)="changeEmail()">Change your email</button>
        </div>
    </div>
    <div class="col-md-4">
        <p i18n="@@YourSpace">This is your cozy, private place. You can add a bio, change your password or simply admire how awesome your are!</p>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-md-6">
        <h2 i18n="Working projects@@WorkingProjects">Projects where this user works</h2>
        <p *ngIf="!projects" i18n="No active / working projects@@WorkingProjectsEmpty">Oh, look at how empty your life is.</p>
        <ul *ngIf="projects" class="list-group">
            <li *ngFor="let project of projects">
                <app-project-summary [project]="project"></app-project-summary>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2 i18n="Active work Items@@ActiveWorkItems">Active work items</h2>
        <p *ngIf="!workItems" i18n="No active work items@@ActiveWorkItemsEmpty">You're a slacker. Shame 🔔</p>
        <ul *ngIf="workItems" class="list-group">
            <li *ngFor="let item of workItems">
                <app-work-item [work]="{title: 'test', description: 'desc', id: 'fake'}"></app-work-item>
            </li>
        </ul>
    </div>

</div>