<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Scrumlr</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" routerLink="/project">
        <a *ngIf="isLoggedIn" class="nav-link" routerLink="/project" routerLinkActive="active" i18n="Link to projects section@@ProjectsTitle">Projects</a>
        <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" i18n="Link to home section@@Home">Home</a> -->
        <!-- <a class="nav-item nav-link" routerLink="/sample" routerLinkActive="active">Sample</a> -->

      </li>
    </ul>
    <app-locale-selector></app-locale-selector>
    <app-badge></app-badge>
  </div>
</nav>
