<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="modal-header">
      <h5 class="modal-title" i18n="@@EditIterationTitle">Edit this iteration</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group" [class.is-invalid]="!form.controls['startDate'].valid">
        <label for="startDate" i18n="@@StartDate">Start date</label>

        <div class="input-group">

          <input type="text" (click)="startDate.toggle()" ngbDatepicker #startDate="ngbDatepicker" name="startDate" class="form-control"
            [class.is-invalid]="!form.controls['startDate'].valid" id="startDate" [formControl]="form.controls['startDate']"
            aria-describedby="startDateHelp" i18n-placeholder="@@EnterStartDate" placeholder="yyyy-mm-dd">
          <button class="input-group-addon" (click)="endDate.toggle()" type="button" i18n="@@OpenCalendar">Open calendar</button>

          <div *ngIf="form.controls['startDate'].hasError('required')" class="invalid-feedback" i18n="@@StartDateEmpty">Sorry, the start date can't be empty. Try typing something?</div>
        </div>
      </div>

      <div class="form-group" [class.is-invalid]="!form.controls['endDate'].valid">
        <label for="endDate" i18n="@@EndDate">End date</label>

        <div class="input-group">

          <input type="text" (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker" name="endDate" class="form-control"
            [class.is-invalid]="!form.controls['endDate'].valid" id="endDate" [formControl]="form.controls['endDate']" aria-describedby="titleHelp"
            i18n-placeholder="@@EnterEndDate" placeholder="yyyy-mm-dd">
          <button class="input-group-addon" (click)="endDate.toggle()" type="button" i18n="@@OpenCalendar">Open calendar</button>

          <div *ngIf="form.controls['endDate'].hasError('required')" class="invalid-feedback" i18n="@@EndDateEmpty">Sorry, the end date can't be empty. Try typing something?</div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" i18n="@@Submit">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" i18n="@@Cancel">Cancel</button>
    </div>

  </form>
</div>
