<div ngbDropdown class="d-inline-block navbar-nav">
    <a class="nav-item nav-link" id="locale-selector" ngbDropdownToggle>{{ lang }}</a>
    <div class="dropdown-menu" aria-labelledby="locale-selector">
        <button class="dropdown-item" (click)="selectLocale('en')" i18n="@@English">English</button>
        <button class="dropdown-item" (click)="selectLocale('es')" i18n="@@Spanish">Spanish</button>
        <button class="dropdown-item" (click)="unselectLocale()" i18n="@@NoLanguage">Default language</button>
    </div>
</div>