<div class="iteration my-4" *ngIf="iteration">
    <h2 class="d-flex justify-content-between">
        <span i18n="@@IterationTitle">Iteration {{iteration.number}}</span>
        <div class="btn-group">
            <button class="btn btn-outline-secondary btn-sm" (click)="editIteration(iteration)">Edit</button>
            <button class="btn btn-outline-danger btn-sm" (click)="deleteIteration(iteration)">Delete</button>
        </div>
    </h2>

    <div id="iteration-list-{{iteration.number}}">
        <h6 class="mb-2 text-muted">{{iteration.startDate | date}} to {{iteration.endDate | date}}</h6>

        <app-story-list class="mt-2" [stories]="stories | async"></app-story-list>
    </div>
</div>
