<div [ngClass]="{
  'text-danger': task.priority == priority.CRITICAL || task.priority == priority.URGENT,
  'text-success': task.priority == priority.LOW || task.priority == priority.NORMAL,
  'text-warning': task.priority == priority.HIGH}">
  <ng-container i18n="@@Priority">Priority:</ng-container>

  <strong>
    <ng-container *ngIf="task.priority == priority.CRITICAL" i18n="@@PriorityCritical">Critical</ng-container>
    <ng-container *ngIf="task.priority == priority.URGENT" i18n="@@PriorityUrgent">Urgent</ng-container>
    <ng-container *ngIf="task.priority == priority.HIGH" i18n="@@PriorityHigh">High</ng-container>
    <ng-container *ngIf="task.priority == priority.NORMAL" i18n="@@PriorityNormal">Normal</ng-container>
    <ng-container *ngIf="task.priority == priority.LOW" i18n="@@PriorityLow">Low</ng-container>
  </strong>
</div>
