.fix-inline {
	display: inline !important;
}

.button-link {
	font-size: 11px !important;
	line-height: 22px !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	display: block !important;
	padding: 3px 20px !important;
	clear: both !important;
	white-space: nowrap !important;
	box-sizing: border-box !important;
	list-style: none !important;
	text-align: left !important; 
	background: none !important;
    border: none !important; 
    margin: 0 !important;
    width: 100% !important;
}

.button-link:hover {
	text-decoration: none !important;
	color: #98978b !important;
	background-color: #f8f5f0 !important;
	outline: 0 !important;
}

.list-group-item > .panel {
	margin: -16px -24px !important;
	border: none !important;
}


.list-group-item > .panel > .panel-heading{
	border-radius: 0;
	border: none;
}

.list-group-item:last-child > .panel > .panel-heading{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.status {
	padding: 14px 5px 16.5px !important;
	margin-left: -15px !important;
	margin-right: 10px;
	display: inline !important;
	border-radius: 2px 0px 0px 2px;
	border-left: 0.1em  #dfd7ca solid !important;
}

.status-not-started {
	border: 1px #d7c6a8 solid !important;
	background-color: #e7ddcb !important;
}

.status-started {
	border: 1px #7dad38 solid !important;
	background-color: #93c54b !important;
}

.status-done {
	border: 1px #bc2e29 solid !important;
	background-color: #d9534f !important;
}

