<div class="row mt-2">
    <div class="col-sm-8">
        <ngb-pagination [collectionSize]="iterations?.length || 0" [pageSize]="1" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div class="col-sm-4">
        <div class="w-100 d-flex justify-content-end">
            <button class="btn btn-sm btn-primary" (click)="newIteration(project)" i18n="@@CreateNewIteration">New iteration</button>
        </div>
    </div>
</div>

<ng-container *ngIf="iterations?.length;else noIterations">
    <app-iteration-detail [iteration]="iterations[iterations.length - page]"></app-iteration-detail>
</ng-container>
<ng-template #noIterations>
    <div class="alert alert-info my-2" role="alert" i18n="@@NoIterations">
        <strong>Hey listen!</strong> You can add a new iteration using the "add new iteration" button.
    </div>
</ng-template>
