<div class="card mt-3 mb-3">
    <div class="card-block d-flex justify-content-between">
        <button class="btn btn-primary btn-sm" i18n="@@CreateNewIteration">New iteration</button>
        <ngb-pagination [collectionSize]="iterations?.length || 0" [pageSize]="1" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>

<ng-container *ngIf="iterations?.length;else noIterations">
    <app-iteration-detail [iteration]="iterations[iterations.length - page]"></app-iteration-detail>
</ng-container>
<ng-template #noIterations>
    <div class="alert alert-info" role="alert" i18n="@@NoIterations">
        <strong>Hey listen!</strong> You can add a new iteration using the "add new iteration" button.
    </div>
</ng-template>
