<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="modal-header">
      <h5 class="modal-title" i18n="@@CreateTaskTitle">Create a new task</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <!-- TITLE -->
      <div class="form-group" [class.is-invalid]="!form.controls['title'].valid">
        <label for="title" i18n="@@Title">Title</label>

        <input type="text" class="form-control" [class.is-invalid]="!form.controls['title'].valid" id="title" [formControl]="form.controls['title']"
          aria-describedby="titleHelp" i18n-placeholder="@@EnterTitle" placeholder="Enter title">

        <div *ngIf="form.controls['title'].hasError('required')" class="invalid-feedback" i18n="@@TitleEmpty">Sorry, the title field can't be empty. Try typing something?</div>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-group" [class.is-invalid]="!form.controls['description'].valid">
        <label for="description" i18n="@@Description">Description</label>

        <textarea class="form-control" [class.is-invalid]="!form.controls['description'].valid" id="description" [formControl]="form.controls['description']"
          aria-describedby="descriptionHelp" i18n-placeholder="@@EnterDescription">{{form.controls['description'].value}}</textarea>

        <div *ngIf="form.controls['description'].hasError('required')" class="invalid-feedback" i18n="@@DescriptionEmpty">Sorry, the description field can't be empty. Try typing something?</div>
      </div>

      <!-- STATUS -->
      <div class="form-group" [class.is-invalid]="!form.controls['status'].valid">
        <label for="status" i18n="@@Status">Status</label>

        <select class="custom-select form-control" id="status" [formControl]="form.controls['status']">
          <option value="NOT_STARTED" i18n="@SelectStatusNotStarted" [attr.selected]="form.controls['status'].value == 'NOT_STARTED' ? '' : null">Not started</option>

          <option value="STARTED" i18n="@SelectStatusStarted" [attr.selected]="form.controls['status'].value == 'STARTED' ? '' : null">Started</option>

          <option value="COMPLETED" i18n="@SelectStatusCompleted" [attr.selected]="form.controls['status'].value == 'COMPLETED' ? '' : null">Completed</option>

        </select>
      </div>

      <!-- SCORE -->
      <div class="form-group" [class.is-invalid]="!form.controls['score'].valid">
        <label for="score" i18n="@@Score">Score</label>

        <select class="custom-select form-control" id="score" [formControl]="form.controls['score']">
          <option value="VERY_EASY" i18n="@SelectScoreVeryEasy" [attr.selected]="form.controls['score'].value == 'VERY_EASY' ? '' : null">Trivial</option>

          <option value="EASY" i18n="@SelectScoreEasy" [attr.selected]="form.controls['score'].value == 'EASY' ? '' : null">Easy</option>

          <option value="NORMAL" i18n="@SelectScoreNormal" [attr.selected]="form.controls['score'].value == 'NORMAL' ? '' : null">Normal</option>

          <option value="HARD" i18n="@SelectScoreHard" [attr.selected]="form.controls['score'].value == 'HARD' ? '' : null">Hard</option>

          <option value="EPIC" i18n="@SelectScoreEpic" [attr.selected]="form.controls['score'].value == 'EPIC' ? '' : null">Epic</option>

        </select>
      </div>


      <!-- PRIORITY -->
      <div class="form-group" [class.is-invalid]="!form.controls['priority'].valid">
        <label for="score" i18n="@@Priority">Priority</label>

        <select class="custom-select form-control" id="priority" [formControl]="form.controls['priority']">
          <option value="LOW" i18n="@SelectPriorityLow" [attr.selected]="form.controls['priority'].value == 'LOW' ? '' : null">Low</option>
          <option value="NORMAL" i18n="@SelectPriorityNormal" [attr.selected]="form.controls['priority'].value == 'NORMAL' ? '' : null">Normal</option>
          <option value="HIGH" i18n="@SelectPriorityHigh" [attr.selected]="form.controls['priority'].value == 'HIGH' ? '' : null">High</option>
          <option value="URGENT" i18n="@SelectPriorityUrgent" [attr.selected]="form.controls['priority'].value == 'URGENT' ? '' : null">Urgent</option>
          <option value="CRITICAL" i18n="@SelectPriorityCritical" [attr.selected]="form.controls['priority'].value == 'CRITICAL' ? '' : null">Critical</option>

        </select>
      </div>

      <!-- OWNER -->

      <div class="form-group" [class.is-invalid]="!form.controls['owner'].valid">
        <label for="owner" i18n="@@Owner">Owner</label>

        <ng-template #userTemplate let-r="result">
          <span class="text-muted">{{ r.username }} -  {{ r.mail }}</span>
        </ng-template>
        <input type="text" [ngbTypeahead]="search" [resultTemplate]="userTemplate" [inputFormatter]="formatter" class="form-control"
          [class.is-invalid]="!form.controls['owner'].valid" id="title" [formControl]="form.controls['owner']" aria-describedby="titleHelp"
          i18n-placeholder="@@EnterUsername" placeholder="Enter username">

        <div *ngIf="form.controls['owner'].hasError('required')" class="invalid-feedback" i18n="@@UserEmpty">Sorry, the user field can't be empty. Try typing something?</div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" i18n="@@Submit">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" i18n="@@Cancel">Cancel</button>
    </div>

  </form>
</div>
