<div class="row d-flex justify-content-center">
    <div class="col-md-8">

        <h1 i18n="@@EditProject">Edit {{ project?.name }}</h1>


        <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm)">

            <div class="form-group" [class.is-invalid]="!projectForm.controls['title'].valid">
                <label for="title" i18n="@@ProjectTitle">Project title</label>

                <input type="text" class="form-control" [class.is-invalid]="!projectForm.controls['title'].valid" id="title" [formControl]="projectForm.controls['title']"
                    aria-describedby="titleHelp" i18n-placeholder="@@EnterUsername" placeholder="Choose a title">

                <div *ngIf="projectForm.controls['title'].hasError('required')" class="invalid-feedback" i18n="@@UsernameRequired">Sorry, that title's invalid. Try another?</div>
            </div>


            <div class="form-group" [class.is-invalid]="!projectForm.controls['description'].valid">
                <label for="description" i18n="@@Description">Description</label>

                <textarea type="text" class="form-control" [class.is-invalid]="!projectForm.controls['description'].valid" id="description"
                    [formControl]="projectForm.controls['description']" placeholder="Password"></textarea>

                <div *ngIf="projectForm.controls['description'].hasError('required')" class="invalid-feedback" i18n="@@PasswordInvalid">Sorry, that description is invalid. Try another?</div>
            </div>
            <hr class="my-4">
            <h2 class="d-flex justify-content-between">
                <span i18n="@@Members">Members</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" (click)="addMember()" i18n="@@Add">Add</button>
                </div>
            </h2>


            <div *ngFor="let user of getUserControls(); let i=index" class="form-group" [class.is-invalid]="!getUserControls()[i].valid">

                <div class="input-group">
                    <ng-template #userTemplate let-r="result">
                        <span class="text-muted">{{ r }}
                        </span>
                    </ng-template>
                    <label for="username-{{index}}" class="input-group-addon" i18n="@@Username">Username</label>
                    <input type="text" class="form-control" [class.is-invalid]="!getUserControls()[i].valid" id="username-{{i}}" [resultTemplate]="userTemplate"
                        [formControl]="getUserControls()[i]" placeholder="username" [ngbTypeahead]="getUsers.bind(this)">

                    <button *ngIf="getUserControls().length > 1" class="btn btn-sm btn-outline-danger input-group-addon" (click)="removeMember(i)"
                        i18n="@@Remove">Remove</button>
                </div>

                <div *ngIf="getUserControls()[i].hasError('required')" class="invalid-feedback" i18n="@@UsernameInvalid">Sorry, that username is invalid. Try another?</div>

            </div>

            <button type="submit" class="btn btn-primary" i18n="@@Submit">Submit</button>


        </form>
    </div>
</div>
