<div class="text-muted">
    <ng-container i18n="@@Score">Difficulty: </ng-container>
    <strong>
        <ng-container *ngIf="task.score == score['VERY_EASY']" i18n="@@ScoreVeryEasy">Trivial</ng-container>
        <ng-container *ngIf="task.score == score['EASY']" i18n="@@ScoreEasy">Easy</ng-container>
        <ng-container *ngIf="task.score == score['NORMAL']" i18n="@@ScoreNormal">Normal</ng-container>
        <ng-container *ngIf="task.score == score['HARD']" i18n="@@ScoreHard">Hard</ng-container>
        <ng-container *ngIf="task.score == score['EPIC']" i18n="@@ScoreEpic">Epic</ng-container>
    </strong>
</div>
