<div class="row">
    <div class="col-md-12">
        <h1 class="d-flex justify-content-between">
            <ng-container i18n="@@ProjectsTitle">Projects</ng-container>
            <div class="btn-group">
                <button class="btn btn-primary" routerLink="/project/create" i18n="@@CreateNewProject">Create a project</button>
            </div>
        </h1>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-md-4 my-1" *ngFor="let project of projects">
        <app-summary [project]="project"></app-summary>
    </div>
    <div class="col-md-12" *ngIf="!projects?.length">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title" i18n="@@MissingProjectsTitle">Oops! Looks empty in here...</h3>

                <p class="card-text" i18n="@@MissingProjects">
                    <strong>Hey!</strong> Better start working, slacker! Get ready and create a project.</p>
            </div>
        </div>
    </div>
</div>
