{
    "env": {
        "browser": true,
    },
    "rules": {
        "eqeqeq": 1,
        "curly": 1,
        "brace-style": [1, "stroustrup"],
        "quotes": [1, "single"],
        "strict": 1
    }
}
