<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@DeleteProject">Delete Project</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss(0)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p i18n="@@ConfirmDeleteProject">Are you sure you want to delete
      <strong>{{project?.name}}</strong>? This can't be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="deleteProject()" class="btn btn-primary" i18n="@@Yes">Yes</button>
    <button type="button" (click)="modal.dismiss(0)" class="btn btn-secondary" i18n="@@Cancel">Cancel</button>
  </div>
</div>
