<div class="row">
    <div class="col-md-3">
        <app-project-dossier [project]="project | async"></app-project-dossier>
    </div>
    <div class="col-md-9">

        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span i18n="@@Iterations">Iterations</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-iteration-list [iterations]="iterations | async"></app-iteration-list>
                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span i18n="@@Backlog">Backlog</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-backlog [code]="codename | async"></app-backlog>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
