<div class="row">
    <div class="col-md-12">
        <h1 class="d-flex justify-content-between">{{project?.name}}
            <div class="btn-group">
                <button class="btn btn-primary" i18n="@@Edit">Edit</button>
                <button class="btn btn-danger" i18n="@@Delete">Delete</button>
            </div>
        </h1>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-md-3">
        <h2><a [routerLink]="['backlog']" i18n="@@Backlog">Backlog</a></h2>
        <ul *ngIf="backlog?.length" class="list-group">
            <li *ngFor="let item of backlog" class="list-group-item">{{ item.title }}</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2><a [routerLink]="['iteration']" i18n="@@Iteration">Iteration</a></h2>
        <ul *ngIf="iterations?.length" class="list-group">
            <li *ngFor="let item of iterations" class="list-group-item">{{ item.title }}</li>
        </ul>
    </div>
</div>