<div class="modal-content">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit(changePassForm.value)">



        <div class="modal-header">
            <h5 class="modal-title" i18n="@@EditPass">Change your password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>




        <div class="modal-body">
            <div class="form-group" [class.has-danger]="!changePassForm.controls['password'].valid">
                <label for="password" i18n="@@Password">Password</label>

                <input type="password" class="form-control" [class.form-control-danger]="!changePassForm.controls['password'].valid" id="password" [formControl]="changePassForm.controls['password']">

                <div *ngIf="changePassForm.controls['password'].hasError('required')" class="form-control-feedback" i18n="@@MissingField">Can't leave this field empty!</div>
            </div>



            <div class="form-group" [class.has-danger]="!changePassForm.controls['password2'].valid">
                <label for="password2" i18n="@@PassAgain">Password (again)</label>

                <input type="password" class="form-control" [class.form-control-danger]="!changePassForm.controls['password2'].valid" id="password2" [formControl]="changePassForm.controls['password2']">

                <div *ngIf="changePassForm.controls['password2'].hasError('required')" class="form-control-feedback" i18n="@@MissingField">Can't leave this field empty!</div>
            </div>
        </div>



        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" i18n="@@Submit">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n="@@Cancel">Cancel</button>
        </div>
    </form>

</div>